.user
    &__data
        margin-top: 20px
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 700
        font-size: 16px
        line-height: 24px
    &__item
        font-family: 'Montserrat'
        font-weight: 700 !important
        color: #FFFFFF
        font-size: 16px
        color: #000000
    &__items
        display: block
        margin-top: 10px
    &__item
        display: inline-block
        border-radius: 2px
        padding: 10px 20px
        background-color: #F1F1F1
    &__text
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 500
        font-size: 16px
        margin-top: 60px

